*{
  padding: 0;
  margin: 0;
}
.navbar {
  justify-content: center;
  display: flex;
  background-color:#970747;
  color: #970747;
  height: 70px;
}
.list {
  list-style-type: none;
  display: flex;
  gap: 200px;
  margin-top: 20px;
 
}
.logo {
  margin-right: 200px;
  font-size: 50px;
  background-color: white;
  border-radius: 10px;
}
li {
  color: white;
  font-size: 18px;
}
h1 {
  text-align: center;
  margin-top: 50px;

}
h2 {
  text-align: center;
  color: #970747;
}
p {
text-align: center;
padding-bottom: 100px;
}
.para {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 200px;
}
.head2 {
  text-align: center;
  margin-top: 150px;
 
}

.footer {
background-color: black;
height: 55px;
color: white;
text-align: center;
}
.head1 {
  text-align: center;
  font-style: italic;
  font-size: 50px;
  padding-bottom: 400px;
}
